* {
    font-family: 'Open sans', sans-serif;
}

h1 {
    color: inherit;
}

a{
    text-decoration: none;
}

.bg-color-pink {
    background-color: #E83E8C;
}

.bg-color-texto {
    color: #373A3C;
}

/* Botones marca */
.btn-pink {
    --bs-btn-color: #fff;
    --bs-btn-bg: #E83E8C;
    --bs-btn-border-color: #E83E8C;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c82d78;
    --bs-btn-hover-border-color: #c82d78;
}

.btn-outline-pink {
    --bs-btn-color: #E83E8C;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #E83E8C;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #E83E8C;
    --bs-btn-hover-border-color: #E83E8C;
}

nav img {
    width: 6rem;
}

footer img {
    width: 3.5rem;
}